:root {
    --color-white: #ffffff;
    --color-bg-color: #F6F5F3;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ff0000;
    --color-icon-blue: #005eff;
    /* space */
    --lit-space: 10px;
    --med-space: 20px;
    --high-space: 40px;
    --general-padding: 20px;
    /* font */
    --low-weight: 300;
    --med-weight: 600;
    --high-weight: 700;
    --higher-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------general */
/* .debugger {
    border: 1px solid red;
} */

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    /* font-weight: 400; */
    font-style: normal;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

h1 {
    color: var(--color-contrast);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Nerko One", cursive;
    text-transform: uppercase;
    font-size: 3.5em;
}

img {
    width: 100%;
    display: block;
}

a {
    color: inherit;
}
.a-no-under{
    text-decoration: none;
}
ul {
    list-style: none;
}
/* ONLY-MEDIA */
.no-mobile{
    display: none;
}
.only-desktop{
    display: none;
}
/* ---------------------------------font */
.font-low-weight {
    font-weight: var(--low-weight);
}
.font-med-weight{
    font-weight: var(--med-weight);
}
.font-high-weight {
    font-weight: var(--high-weight);
}
.font-higher-weight{
    font-weight: var(--higher-weight);
}
.font-up {
    text-transform: uppercase;
}
.fontsize-mid{
    font-size: 1.5em;
}
/* ---------------------------------color */
.font-color-grey {
    color: grey;
}

.font-color-violet {
    color: var(--color-dark-text);
}

.font-color-blue {
    color: var(--color-icon-blue);
}

.font-color-red {
    color: var(--color-icon-red);
}
.font-color-black{
    color:var(--color-black);
}
/* ---------------------------------paddin */
.lit-pad-t-b {
    padding: var(--lit-space) 0px;
}

.med-pad-t-b {
    padding: var(--med-space) 0px;
}

.lit-pad-b {
    padding-bottom: var(--lit-space);
}
.med-pad-b {
    padding-bottom: var(--med-space);
}

/* ---------------------------------margin */
.lit-marg-t-b {
    margin: var(--lit-space) 0px;
}
.med-marg-t-b {
    margin: var(--med-space) 0px;
}
.med-marg-b {
    margin-bottom: var(--med-space);
}
/* ---------------------------------button */
.btn-high {
    padding: 10px 15px;
    border-radius: 20px;
    background: var(--color-white);
    text-align: center;
}

/* ---------------------------------border-shadow */
.border-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hr{
    border:none;
    height: 2px;
    width: 100px;
    background-color: var(--color-contrast);
}
/* ---------------------------------header */
header {
    background-color: var(--color-white);
    padding: var(--general-padding);
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------main */
main {
    background-color: var(--color-bg-color);
}

.container-content {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

/* ---------------------------------MAIN--videosection */
.video-insert {
    width:100%;
    aspect-ratio: 16/9;
}
.video-insert iframe{
    height: 100%;
    width:100%;
    display: block;
}
.panel-text {
    /* width:40%; */
    background: var(--color-white);
    padding: var(--lit-space) var(--high-space);
}

.panel-text ul li {
    padding: 8px 0px;
}

.list-recipe {
    display: flex;
    flex-flow: column nowrap;
}
.video-section > .no-mobile{
    margin-top: 100px;
}
/* ---------------------------------MAIN--social */
.social {
    padding: var(--high-space) 0px;
}

.social ul {
    display: flex;
    justify-content: space-between;
}

/* ---------------------------------presentation */
.img-title-presentation{
    font-size: 1.9em;
    font-weight: 500;
}
.img-presentation {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.presentation p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
}

/* ---------------------------------footer */
footer {
    background-color: var(--color-primary);
    padding: 20px;
    color: var(--color-white);
    font-size: 1.1em;
    font-weight: 400;
}

footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap:10px
}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
}
/* ---------------------------------media-query */

/* ---------------------------------mobile */
@media screen and (min-width:576px) {}

/* ---------------------------------tablet */
@media screen and (min-width:768px) {
    header>div {
        justify-content: flex-start;
    }
    .no-mobile{
        display: inline-block;
    }
    .btn-high{
        padding: 10px 55px;
    }
    .list-recipe{
        flex-flow: row wrap;
        column-gap: 80px;
    }
    .img-presentation{
        float:left;
        padding-right: 10px;
        padding-top: 25px;
    }
}

/* ---------------------------------desktop */
@media screen and (min-width:992px) {
    footer {
        font-size: 1em;
    }

    footer .footer-container {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    footer .footer-left {
        align-items: flex-start;
    }
    .only-desktop{
        display: inline-block;
    }
    .video-section h2{
        font-size: 3.1em;
    }
    .container-panel-img-text {
        display: flex;
    }
    .panel-img{
        width: 70%;
    }
    .panel-text{
        width: 30%;
    }
}
@media screen and (min-width:1200px) {

}